@using EntityLayer.Concreate
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

@{
    string color = "";
    string buttonTyp = "";
    string status = "";
}
<br />
<h3 class="alert alert-secondary" style="text-align:center;">Admin Listesi</h3>
<table class="table table-bordered">
    <tr>
        <th style="width: 1%; text-align: center">#</th>
        <th style="width: 10%; text-align: center">Admin Adı</th>
        <th style="width: 10%; text-align: center">Kullanıcı Adı</th>
        <th style="width: 1%; text-align: center">Yetki</th>
        <th style="width: 15%; text-align: center">Yetki Detay</th>
        <th style="width: 6%; text-align: center">Aktif / Pasif</th>
        <th style="width: 6%; text-align: center">Bilgilerini Güncelle</th>
        <th style="width: 2%; text-align: center">Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.AdminStatus)
        {
            status = "Admin Pasif";
            buttonTyp = "btn btn-danger";
        }
        if (!item.AdminStatus)
        {
            status = "Admin Aktif";
            buttonTyp = "btn btn-success";
        }

        <tr>
            <td>@item.AdminId</td>
            <td style="text-align: center">@item.AdminName</td>
            <td style="text-align: center">@item.AdminUserName</td>
            <td style="text-align: center"><b>@item.Role.RoleName</b></td>
            <td style="text-align: center">@item.Role.Description</td>
            @*<td style="text-align: center">
                    @{ if (item.AdminStatus)
                        {
                            <b style="color: green "> Admin Aktif</b> }
                        else
                        {
                            <b style="color: red">Admin Pasif</b> }
                    }
                </td>*@
            <td style="text-align: center">
                <a class="@(item.AdminStatus==true ? "btn btn-success" : "btn btn-danger") btn-sm" href="/Authorization/ChangeStatus/@item.AdminId">
                    <i class="@(item.AdminStatus==true ? "far fa-check-circle" : "far fa-times-circle")">
                    </i>
                    <span>
                        @Html.Raw(item.AdminStatus == true ? "<span>Pasif Yap</span>" : "<span>Aktif Yap</span>")
                    </span>
            </td>
            @*<td><a href="/Authorization/UpdateRole/@item.AdminId" class="btn btn-warning">Yetkisini Değiştir</a></td>*@
            <td style="text-align: center">
                <a href="/Authorization/EditAdmin/@item.AdminId" class="btn btn-secondary">Bilgilerini Güncelle</a>
            </td>
            <td style="text-align: center">
                <a href="/Authorization/DeleteAdmin/@item.AdminId" class="btn btn-danger preview" id="btn_4" onclick="return confirm('Kayıt silinecek. Devam edecek misiniz?')">
                    <i class="fas fa-trash-alt"></i>
                    Sil
                </a>
            </td>
        </tr>
    }
</table>
<div class="float-right">
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>
<a href="/Authorization/Roles/" class="btn btn-warning">Admin Yetkiler Sayfası</a>



<script>
    $("#btn_4").click(function button_delete() {
        swal({
            title: "Silmek istediğinize emin misiniz_?",
            text: "Silme işlemini onayladığınızda .... silinecek...!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Silme işlemi başarılı.", {
                        icon: "success",
                    });
                } else {
                    swal("Silme işlemi iptal edildi...!");
                }
            });
    })

</script>


